{% extends 'base.html' %}
{% load static %}

{% block title %}TBank - Login{% endblock %}

{% block container_content %}
    <div class="text-center">
  <img
    alt=""
    class="mb-4 mt-5"
    height="100"
    width="100"
    src="{% static 'img/totvs_logo_branco.png' %}"
  />
  <form class="form-signin" method="post" action="{% url 'login' %}">
      {% csrf_token %}
    <h1 class="h3 mb-4 font-weight-normal">Faça o seu login</h1>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">
          <span class="fa fa-user"></span>
      </span>
      <input id="username" name="username" type="text" class="form-control" placeholder="Usuário"/>
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">
          <span class="fa fa-lock"></span>
      </span>
      <input id="password" name="password" type="password" class="form-control" placeholder="Senha"/>
    </div>

    <div class="d-grid gap-1 mt-5">
      <button class="btn btn-primary" href="{% url 'login' %}" type="submit">Login</button>
    </div>

  </form>

</div>

{% endblock %}