{% load crispy_forms_tags %}

<div class="modal-content rounded-4 shadow-lg">
    <form hx-post="{{ request.path }}" hx-target="#modalGenerico" hx-swap="outerHTML">
        {% csrf_token %}
        <div class="modal-header border-bottom-0">
            <h5 class="modal-title fs-5">TESTE</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </button>
        </div>

        <div class="modal-body">
            <!-- Campos do formulário -->
                {% crispy form %}
            <!-- Campos do formulário -->
            <div class="modal-footer flex-column align-items-stretch w-100 gap-2 pb-3 border-top-0">
                <div class="row">
                    <div class="col-md-6 d-grid gap-2">
                        <button type="submit" class="btn btn-lg btn-success btn-block">Salvar</button>
                    </div>
                    <div class="col-md-6 d-grid gap-2">
                        <button type="button" class="btn btn-lg btn-danger btn-block" data-bs-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
